body{
    background: linear-gradient(rgba(208, 132, 17, 0.6), rgba(80, 74, 66, 0.6)),
                url(../images/bgRio.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

nav.navbar-transparent{
    background: rgba(0, 0, 0, 0.741)
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0,0,0);
    color: white;
    text-align: center;
    padding: 50px 0px 20px 0px;
}

footer a{
    color: rgb(154, 154, 154);
    margin: 20px;
}

#welcome-block h1{
    color:white;
    font-family: 'Georgia', cursive;
    font-weight: 550;
    font-size:60px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #2f2f2fbe;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

#welcome-block{
    margin-top: 20%;
    margin-bottom: 13.9%;
    padding: 30px;
    text-align: center;
    
}

#services{
    background: white;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom:10%;
}

#social-block{
    text-align: center;
    width: 100%;
    margin-top: 25px;
}

.navbar-nav .nav-link{
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 530;
}

.logo{
    color: white;
}

.division{
    background:white;
    width: 1px;
    margin: 13px;
}

.albums{
    padding: 10px 0px;
}

.icon{
    width: 50px;
    height: 50px;
}

.copyright{
    margin-top: 30px;
}

.blockType1{
    background: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10%;
}

.experienceImg{
    width: 100%;
    height: 100%;
}